@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Inter', sans-serif;
    background: black url(img/pexels-alex-andrews-816608.jpg) no-repeat;
    background-size: cover;
    color: white;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    box-sizing: border-box;
}

img.diagroma{
    width: 54px;
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
}

.h1-top{
    margin-left: -73px;
    margin-top: 48px;
    font-weight: 500;
    text-align: center;
}

img.worldimg{
    width: 445px;
    height: 345px;
}

div.world{
    display: flex;
    justify-content: space-around;
    height: 255px;
    width: 300px;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 20px;
}

div.astro{
    display: flex;
    justify-content: flex-start;
    width: 165px;
    height: 208px;
    margin-top: 60px;
}

img.astroimg{
    width: 165px;
    height: 208px;
    margin-left: 298px;
}

div.tudo{
    display: flex;
}

.arte .principal{
    flex: 1;
}

.arte{
    width: 532px;
}


.principal{
    width: 865px;
    height: 658px;
    color: black;
    background-color: white;
    float: right;
    border-radius: 15px;
}

h1.create{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    margin-top: 50px;
    margin-left: 122px;
    letter-spacing: 10px;
}

.div-login{
    display: flex;
}

.div-google .div-facebook{
    flex: 1;
}

.div-google{
    display: flex;
    width: 210px;
    height: 43px;
    margin-left: 122px;
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9em;
    align-items: center;
    justify-content: center;
}

img.iconGoogle{
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.div-facebook{
    display: flex;
    width: 210px;
    height: 43px;
    margin-left: 50px;
    margin-top: 50px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9em;
    align-items: center;
    justify-content: center;
}

img.iconFacebook{
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

p.OR{
    color: rgba(0, 0, 0, 0.507);
    margin-left: 324px;
    margin-top: 78px;
    margin-bottom: 26px;
    letter-spacing: 8px;
}

form{ 
    margin-left: 105px;
}

input{
    width: 540px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #00000038;
    margin: 13px;
    outline: none;
}

#icons{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.589);
}

div.icon{
    position: absolute;
    right: 162px;
    bottom: 159px;
    cursor: pointer;
}

input[type="submit"]{
    width: 544px;
    background-color: #248064;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #2ba37f;
}

a{
    text-decoration: none;
    color: #2ba37f;
}

p.login{
    margin-top: 10px;
    margin-left: 120px;
    color: rgba(0, 0, 0, 0.514);
}